/**
* GLOBAL STYLES
* Imported once at the top level
* Used everywhere
*/
@import "fonts";
@import "theme";

* {
  box-sizing: border-box;
}

p,
b,
span {
  font-family: $font-family;
  line-height: 20px;
  size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-title;
}

svg,
img {
  // TODO: get rid of this once chakra is more integrated
  display: inline !important;
}

ul {
  list-style: none;
}

:root {
  --primary-foreground: #000;
  --primary-background: #fff;
  --background: #ffffe9;
  --background-lightgrey: #dfdde3;
  --background-element: rgba(255, 255, 244, 0.7);
  --background-element-hover: rgba(255, 255, 255, 0.88);
  --background-main: #ffffe9 url("../assets/bg_light.svg") center/auto 60%
    no-repeat fixed;
  --background-logo: #{$primary};
  --secondary-button: #{$light-blue};
  --outline: #000;
  --outline-gray: #{$black30};
  --option-hover: #{$primary-blue-light};
  --tab: #{$black80};

  --text: #000;
  --text-darker: #000;
  --text-lighter: #686868;
  --text-lightest: #a5a5a5;
  --text-title: #{text-black};
  --text-primary: #{$primary-blue};
  --text-selected: #{$primary-blue};
  --text-secondary-button: #{$primary-blue};
  --text-secondary-button-disabled: #{$indigo20T};
  --header-text: #1f2023;
  --sign-graph: #000;

  --shadow: 0px 2px 8px rgba(39, 14, 1, 0.1);
  --shadow-hover: 2px 2px 12px rgba(68, 64, 64, 0.2);
}

// Dark mode themes
body.dark {
  --primary-foreground: #fff;
  --primary-background: #000;
  --background: #000;
  --background-lightgrey: #{$black80};
  --background-element: rgba(0, 0, 0, 0.56);
  --background-element-hover: rgba(0, 0, 0, 0.8);
  --background-main: #000 url("../assets/bg.svg") center/auto 60% no-repeat
    fixed;
  --background-logo: #ffffe9;
  --secondary-button: #{$dark-purple};
  --outline: #fff;
  --option-hover: #{$primary-blue-dark};
  --outline-gray: #{$white30};
  --tab: #{$white};

  --text: #fff;
  --text-darker: #ffffe9;
  --text-lighter: #bbbbbb;
  --text-lightest: #888888;
  --text-title: #ffffe9;
  --text-primary: #{$primary};
  --text-selected: #{$primary};
  --text-secondary-button: #{$blue};
  --text-secondary-button-disabled: #{$blue40T};
  --header-text: #{$primary};
  --sign-graph: #{$primary-blue};

  --shadow: 0px 2px 8px rgba(39, 14, 1, 0.18);
  --shadow-hover: 2px 2px 12px rgba(68, 64, 64, 0.14);
}
