@import "fonts";

$text-red: #f53535;
$text-black: #000;
$text-white: #fff;

$primary: #00f4d7;
$primary-blue: #3800d6;
$white: #ffffff;
$black: #000;
$error: #fb5a5a;

$divider-red: #fb5a5a;

$disabled: #aaaeb2;

// Fonts
$font-family: "Source Code Pro", monospace;
$font-family-title: "Noe Display";

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

$shadow: 0px 2px 8px rgba(39, 14, 1, 0.18);
$shadow-hover: 2px 2px 12px rgba(68, 64, 64, 0.14);

// Global styles
p,
span {
  font-family: $font-family;
  line-height: 20px;
  size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-title;
}

body.dark {
  --background: #000;
  --background-element: rgba(0, 0, 0, 0.56);
  --background-element-hover: rgba(0, 0, 0, 0.8);
  --background-main: #000 url("../assets/bg.svg") center/auto 60% no-repeat
    fixed;
  --background-logo: #ffffe9;
  --outline: #fff;

  --text: #fff;
  --text-darker: #ffffe9;
  --text-title: #ffffe9;
  --text-selected: #{$primary};
  --header-text: #{$primary};

  --shadow: 0px 2px 8px rgba(39, 14, 1, 0.18);
  --shadow-hover: 2px 2px 12px rgba(68, 64, 64, 0.14);
}

body {
  --background: #ffffe9;
  --background-element: rgba(255, 255, 244, 0.6);
  --background-element-hover: rgba(255, 255, 255, 0.88);
  --background-main: #ffffe9 url("../assets/bg_light.svg") center/auto 60%
    no-repeat fixed;
  --background-logo: #{$primary};
  --outline: #000;

  --text: #000;
  --text-darker: #000;
  --text-title: #{$primary-blue};
  --text-selected: #{$primary-blue};
  --header-text: #1f2023;

  --shadow: 0px 2px 8px rgba(39, 14, 1, 0.1);
  --shadow-hover: 2px 2px 12px rgba(68, 64, 64, 0.2);
}
