@import "fonts";

// Colors
$background: #000;
$background-element: rgba(0, 0, 0, 0.56);
$background-element-hover: rgba(0, 0, 0, 0.8);
$background-main: #000 url("../assets/bg.svg") center/auto 60% no-repeat fixed;
$outline: #fff;
$divider-red: #fb5a5a;

$text: #fff;
$text-darker: #ffffe9;
$text-red: #f53535;
$text-black: #000;

$primary: #00f4d7;
$primary-blue: #3800d6;
$white: #ffffff;
$black: #000;
$error: #fb5a5a;
$orange: #d67a0a;

$disabled: #aaaeb2;

// Fonts
$font-family: "Source Code Pro", monospace;
$font-family-title: "Noe Display";

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

$shadow: 0px 2px 8px rgba(39, 14, 1, 0.18);
$shadow-hover: 2px 2px 12px rgba(68, 64, 64, 0.14);


// Global styles 
p, span {
  font-family: $font-family;
  line-height: 20px;
  size: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-title;
}
