@import "fonts";
// @import "camphor";

// Colors
$primary: #ea860b;
$background: #fef9ec;
$background-white: #fffefb;
$background-darker: #fae09e;
$outline: #eeba0b;

$text-primary: #d67a0a;
$text: #1f2023;
$text-darker: #121010;
$text-green: #26a17b;

$green: #65d03d;
$disabled: #aaaeb2;
$error: #df362d;
$white: #ffffff;

$background-button: #fae2bf;
$background-button-hover: #f8d4a4;

// Fonts
$font-family: "Camphor", "Avenir Next", sans-serif;

$normal: 400;
$medium: 500;
$bold: 600;

$shadow: 0px 2px 8px rgba(39, 14, 1, 0.18);
$shadow-hover: 2px 2px 12px rgba(39, 14, 1, 0.32);
$shadow-popup: 2px 4px 12px rgba(0, 0, 0, 0.4);
