$text-red: #f53535;
$text-black: #000;
$text-white: #fff;

$primary: #00f4d7;
$primary-blue: #3800d6;
$primary-blue-light: #f5f2fd;
$primary-blue-dark: #0d0033;
$white: #ffffff;
$black: #000;
$error: #fb5a5a;

$divider-red: #fb5a5a;

$disabled: #aaaeb2;

// Fonts
$font-family: "Source Code Pro", monospace;
$font-family-title: "Noe Display";

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

$shadow: 0px 2px 8px rgba(39, 14, 1, 0.18);
$shadow-hover: 2px 2px 12px rgba(68, 64, 64, 0.14);
