@import "fonts";
// @import "camphor";

// Colors
$primary: #ea860b;
$background: #fef9ec;
$background-white: #fffefb;
$background-darker: #fae09e;
$background-button: #fae2bf;
$outline: #eeba0b;

$text-primary: #d67a0a;
$text: #1f2023;
$text-darker: #121010;
$text-green: #26a17b;

$green: #65d03d;
$disabled: #aaaeb2;
$error: #df362d;
$white: #ffffff;

// Fonts
$font-family: "Camphor", "Avenir Next", sans-serif;

$normal: 400;
$medium: 500;
$bold: 600;
