@import "../styles/theme";
@import "../styles/viewports";

.filters {
  margin: 24px auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 16px;
  padding: 0px;
}

.filterTab {
  padding: 2px 16px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: $medium;

  &.selected {
    background-color: var(--tab);
    color: var(--primary-background);
    font-weight: $bold;
  }
}

.outdated {
  color: $yellow;

  &.selected {
    background-color: $yellow;
    color: $text-black;
  }
}

.content {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include breakpoint(sm) {
    width: 100%;
  }
}
