@import "../styles/theme";

div.poolpage {
  min-height: 100vh;
  background-color: $background;
  padding-bottom: 40px;
  box-sizing: border-box;      // Make the padding included in height calculation

  .content {
    margin: 0 auto;
    h3 {
      text-align: center;
      margin-bottom: 64px;
      margin-top: 10%;
      font-weight: $medium;
      font-size: 24px;
      color: $text-darker;
    }
    & > .button_group {
      margin-left: auto;
      margin-right: auto;
      width: 576px;
      display: block;
    }
    .button_usd {
      display: inline;
      margin-right: 64px;
    }
    .button_btc {
      display: inline;
    }
  }
}
