@import "../styles/theme";

div.poolpage {
  min-height: 100vh;
  background: $background-main;
  padding-bottom: 40px;
  box-sizing: border-box; // Make the padding included in height calculation

  .content {
    margin: 0 auto;
    h3 {
      font-family: $font-family-title;
      text-align: center;
      margin-bottom: 64px;
      margin-top: 10%;
      font-weight: $bold;
      font-size: 30px;
      color: $text;
    }
    & > .button_group {
      margin-left: auto;
      margin-right: auto;
      width: 576px;
      display: block;
    }
    .button_usd {
      display: inline;
      margin-right: 64px;
    }
    .button_btc {
      display: inline;
    }
  }
}
