@import "../styles/theme";

div.poolUsd,
div.poolBtc {
  min-height: 100vh;
  background: var(--background-main);
  padding-bottom: 40px;
  box-sizing: border-box; // Make the padding included in height calculation

  .content {
    margin: 0 auto;
    width: 888px;
  }
}
