@import "../styles/theme";
@import "../styles/viewports";

div.riskpage {
  background: var(--background-main);

  a {
    color: var(--text-selected);
    &:hover {
      text-decoration: underline;
    }
  }
}
