@import "../styles/theme";

button.asset {
  background: var(--background-element);
  box-shadow: var(--shadow);
  border-radius: 4px;
  border: 1px solid var(--outline);
  width: 256px;
  height: 256px;
  padding: 0;
  font-family: $font-family;

  img {
    display: block;
    width: 104px;
    height: 104px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  & > span {
    font-size: 28px;
    font-weight: $bold;
    letter-spacing: 0.06em;
    color: var(--text);
  }

  &:hover {
    cursor: pointer;
    border: 3px solid var(--outline);
    box-shadow: var(--shadow-hover);
  }

  &:focus {
    outline: none;
  }
}
