@import "../styles/theme.scss";
@import "../styles/viewports";

button.button {
  border-radius: 4px;
  border: none;
  color: $text-black;
  font-weight: $bold;
  font-size: 16px;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding: 1px 6px;

  &:disabled {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.2);
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &.primary {
    background: $primary;

    &:enabled:hover,
    &:enabled:focus {
      background-color: $primary-blue;
      color: $text-white;
      box-shadow: var(--shadow-hover);
    }
  }
  &.outline {
    background-color: transparent;
    border-color: $outline;
    border-width: 1px;
    border-style: solid;
    color: $outline;
    &.dark {
      background-color: transparent;
      border-color: $primary;
      border-width: 1px;
      border-style: solid;
      color: $primary;
      &:hover {
        border-color: transparent;
        background-color: $primary;
        color: #000;
      }
    }

    &:hover {
      background-color: $primary-blue;
      color: $text-white;
      box-shadow: var(--shadow-hover);
    }
  }

  &.secondary {
    background-color: var(--secondary-button);
    color: var(--text-secondary-button);
    font-weight: $normal;

    &:disabled {
      cursor: not-allowed;
      color: var(--text-secondary-button-disabled);
    }

    &:enabled:hover,
    &:enabled:focus {
      background-color: $primary-blue;
      color: $text-white;
      font-weight: $bold;
      box-shadow: var(--shadow-hover);
    }
  }

  &.ternary {
    color: $white;
    background: $divider-red;
    font-weight: $medium;
    letter-spacing: -0.06em;
  }

  &.temporary {
    background: $yellow;
    color: $black;

    &:disabled {
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.2);
    }

    &:enabled:hover,
    &:enabled:focus {
      background-color: $primary-blue;
      color: $text-white;
      box-shadow: var(--shadow-hover);
    }
  }

  &.cancel {
    background: $white;

    &:enabled:hover,
    &:enabled:focus {
      color: $primary-blue;
    }
  }

  &.large {
    min-width: 140px;
    min-height: 40px;
  }
}
