@import "../styles/theme.scss";
@import "../styles/viewports";

button.button {
  border-radius: 8px;
  border: none;
  color: $text-black;
  font-weight: $bold;
  font-size: 16px;
  letter-spacing: 0.02em;
  cursor: pointer;
  padding: 1px 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.2);
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  &.primary {
    background: $primary;

    &:enabled:hover,
    &:enabled:focus {
      background-color: $primary-blue;
      color: $text-white;
      box-shadow: var(--shadow-hover);
    }
  }
  &.outline {
    background-color: transparent;
    border-color: var(--primary-accent);
    border-width: 1px;
    border-style: solid;
    color: var(--primary-accent);

    &:disabled {
      cursor: not-allowed;
      color: var(--text-secondary-button-disabled);
      border-color: var(--text-secondary-button-disabled);
    }

    &:enabled:hover,
    &:enabled:focus {
      background-color: var(--primary-accent);
      color: var(--primary-foreground);
      box-shadow: var(--shadow-hover);
    }
  }

  &.secondary {
    background-color: var(--secondary-button);
    color: var(--text-secondary-button);
    font-weight: $normal;

    &:disabled {
      cursor: not-allowed;
      color: var(--text-secondary-button-disabled);
    }

    &:enabled:hover,
    &:enabled:focus {
      background-color: $primary-blue;
      color: $text-white;
      font-weight: $bold;
      box-shadow: var(--shadow-hover);
    }
  }

  &.ternary {
    color: var(--text);
    background: var(--emphasis-1);
    border: 1px solid var(--emphasis-1);
    font-weight: normal;

    &:disabled {
      cursor: not-allowed;
      color: var(--text-secondary-button-disabled);
    }

    &:enabled:hover,
    &:enabled:focus {
      background-color: var(--emphasis-2);
    }
  }

  &.ghost {
    color: var(--text);
    background: var(--background);
    border: 1px solid var(--emphasis-1);
    font-weight: normal;

    &:disabled {
      cursor: not-allowed;
      color: var(--text-secondary-button-disabled);
    }

    &:enabled:hover,
    &:enabled:focus {
      background-color: var(--emphasis-1);
    }
  }

  &.temporary {
    background: $yellow;
    color: $black;

    &:disabled {
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.2);
    }

    &:enabled:hover,
    &:enabled:focus {
      background-color: $primary-blue;
      color: $text-white;
      box-shadow: var(--shadow-hover);
    }
  }

  &.cancel {
    background: $white;

    &:enabled:hover,
    &:enabled:focus {
      color: $primary-blue;
    }
  }

  &.large {
    width: 176px;
    min-height: 40px;
    @include breakpoint(md) {
      width: 140px;
    }
  }

  &.medium {
    padding: 8px;
    min-height: 32px;
  }

  &.fullWidth {
    width: 100%;
  }
}
