@import "../styles/theme.scss";

div.checkbox {
  label.checkbox_wrapper {
    position: relative;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 4px;

    .checkbox_control {
      display: inline-grid;
      width: 20px;
      height: 20px;
      border-radius: 0.25em;
      border: 0.1em solid var(--outline);
    }
    .checkbox_control svg {
      margin: 0;
      stroke: var(--text-selected);
      transition: transform 0.1s ease-in 25ms;
      transform: scale(0);
      transform-origin: bottom left;
    }
    .checkbox_input {
      display: grid;
      grid-template-areas: "checkbox";

      > * {
        grid-area: checkbox;
      }

      > input {
        width: 24px;
        height: 24px;

        opacity: 0;
        &:checked + .checkbox_control svg {
          transform: scale(1);
        }
      }
    }

    span.label {
      position: relative;
      letter-spacing: -0.06em;
    }
  }
}
