.checkboxControl {
  display: inline-grid;
  width: 20px;
  height: 20px;
  border-radius: 0.25em;
  border: 0.1em solid var(--outline);
}
.checkboxControl svg {
  margin: 0;
  stroke: var(--text-selected);
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}
.checkboxInput {
  display: grid;
  grid-template-areas: "checkbox";

  > * {
    grid-area: checkbox;
    cursor: pointer;
  }

  & > input {
    width: 24px;
    height: 24px;

    opacity: 0;
    &:checked + .checkboxControl svg {
      transform: scale(1);
    }
  }
}
