@import "../styles/theme";

div.confirmTransaction {
  margin-top: 0;
  padding: 40px 40px 16px 40px;
  text-align: center;
  background: $background-element;
  border-radius: 8px;

  h3 {
    font-family: $font-family-title;
    font-style: normal;
    font-weight: $bold;
    font-size: 30px;
  }

  img {
    margin-top: 40px;
    margin-bottom: 48px;
  }
}
