@import "../styles/theme";

div.confirmTransaction {
  margin-top: 48px;
  text-align: center;

  h3 {
    font-family: $font-family-title;
    font-style: normal;
    font-weight: $bold;
    font-size: 30px;
  }

  img {
    margin-top: 24px;
    margin-bottom: 63px;
  }
}
