@import "../styles/theme";
div.deadlineField {
  input {
    width: 48px;
    border: 1px solid $black;
    border-radius: 8px;
    height: 28px;
    font-size: 80%;
    margin: 0 6px 0 8px;
    outline: none !important;
  }

  input:focus {
    outline: 1px solid var(--outline);
  }

  .label {
    font-weight: $bold;
    font-size: 16px;
    letter-spacing: -0.04em;
    margin: auto 16px auto 0;
  }
  .options {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .options > button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    background: none;
    font-size: 16px;
    width: 80px;
    font-weight: $normal;
    color: var(--text);
    letter-spacing: -0.04em;
    padding: 4px 10px;
    cursor: pointer;

    &:hover {
      transform: none;
      font-weight: $bold;
    }

    &:focus {
      outline: none;
      border: none;
    }

    &.selected {
      color: var(--text-selected);
      font-weight: $medium;
      border: 1px solid var(--text-selected);
      border-radius: 8px;
    }
  }
}
