@import "../styles/theme.scss";

div.deposit {
  min-height: 100vh;
  background: var(--background-main);
  color: var(--text);
  padding-bottom: 40px;
  box-sizing: border-box; // Make the padding included in height calculation

  .content {
    width: 888px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: flex-start;

    .infoPanels {
      margin-top: 40px;
      width: 434px;
      padding: 24px 32px;
      border: 1px solid var(--outline);
      border-radius: 10px;
      background: var(--background-element);
      box-sizing: border-box;
    }

    .left {
      width: 434px;
    }

    .form {
      width: 434px;
      border: 1px solid var(--outline);
      background: var(--background-element);
      border-radius: 10px;
      padding: 40px;
      margin-top: 40px;
      box-sizing: border-box;
    }

    .form h3 {
      font-family: $font-family-title;
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 48px;
      font-weight: $bold;
      color: var(--text);
      text-align: center;
    }

    .form .divider,
    .infoPanels .divider {
      width: 100%;
      height: 1px;
      background: $divider-red;
      margin: 16px 0;
    }

    .actionBtn {
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px;
      display: block;
      width: 170px;
      height: 48px;
      border: none;
      border-radius: 6px;
      background: $primary;
      font-size: 18px;
      font-weight: $bold;
      box-shadow: var(--shadow);
      letter-spacing: 0.04em;

      &:hover,
      &:focus {
        outline: none;
        background-color: $primary-blue;
        color: $text-white;
        box-shadow: var(--shadow-hover);
      }
    }

    .actionBtn:disabled {
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: $primary;
        color: rgba(0, 0, 0, 0.2);
        transform: none;
        opacity: 1;
        box-shadow: var(--shadow);
      }
    }
  }

  div.transactionInfoContainer {
    display: none;
  }

  div.transactionInfo {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    span.value {
      color: var(--text-darker);
      font-weight: $bold;
    }

    span.bonus {
      color: var(--text-selected);
    }

    span.slippage {
      color: $error;
    }
  }

  .advancedOptions {
    margin-top: 24px;
    svg.triangle {
      margin-left: 10px;
      transform: norotate(0deg);
    }
    svg.upsideDown.triangle {
      transform: rotate(-180deg);
    }

    .divider {
      width: 100%;
      height: 1px;
      margin: 10px 0 20px 0;
      background: var(--outline);
    }

    .tableContainer {
      display: none;
    }

    div.parameter {
      margin-top: 16px;
    }

    .show {
      display: block;
    }
  }

  div.show {
    display: block;
  }
}
