@import "../styles/theme.scss";

div.deposit {
  min-height: 100vh;
  background: $background-main;
  color: $text;
  padding-bottom: 40px;
  box-sizing: border-box; // Make the padding included in height calculation

  .content {
    width: 888px;
    margin: 0 auto;
    display: flex;
    gap: 20px;

    .infoPanels {
      margin-top: 40px;
      width: 370px;
      height: auto;
      padding: 24px 32px;
      border: 1px solid $outline;
      border-radius: 10px;
      background: $background-element;
    }

    .left {
      width: 434px;
    }

    .form {
      width: 434px;
      border: 1px solid $outline;
      border-radius: 10px;
      padding: 40px;
      margin-top: 40px;
      box-sizing: border-box;
    }

    .form h3 {
      font-family: $font-family-title;
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 48px;
      font-weight: $bold;
      color: $text-darker;
      text-align: center;
    }

    .form .divider,
    .infoPanels .divider {
      width: 100%;
      height: 1px;
      background: $divider-red;
      margin: 16px 0;
    }

    .actionBtn {
      background: $primary;
      color: $white;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px;
      display: block;
      width: 170px;
      height: 40px;
      border: none;
      border-radius: 4px;
      font-size: 18px;
      font-weight: $medium;
      box-shadow: $shadow;

      &:hover,
      &:focus {
        outline: none;
        opacity: 0.8;
        box-shadow: $shadow-hover;
      }
    }
  }

  .advancedOptions {
    margin-top: 24px;
    svg {
      margin-left: 10px;
      transform: norotate(0deg);
    }
    svg.upsideDown {
      transform: rotate(-180deg);
    }

    .divider {
      width: 100%;
      height: 1px;
      margin: 10px 0 20px 0;
      background: $outline;
    }

    .tableContainer {
      display: none;
    }

    .infiniteApproval {
      display: block;
      position: relative;
      cursor: pointer;
      font-size: 16px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: flex;
      align-items: center;

      input {
        width: 20px;
        height: 20px;
        margin: 0 16px 0 0;
      }
    }

    div.paramater {
      margin-top: 16px;

      span {
        margin-left: 8px;
        cursor: pointer;
        letter-spacing: -0.06em;
      }

      input {
        width: 52px;
        height: 24px;
        margin-left: 16px;
        border: none;
        border-radius: 0;

        &:focus {
          outline: 1px solid $outline;
        }
      }

      .selected {
        color: $text-primary;
        font-weight: $medium;
        text-decoration: underline;
      }
    }

    .show {
      display: block;
    }
  }

  div.transactionInfoContainer {
    display: none;
  }

  div.transactionInfo {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    span.value {
      color: $text-darker;
      font-weight: $bold;
    }

    span.bonus {
      color: $primary;
    }

    span.slippage {
      color: $error;
    }
  }

  div.show {
    display: block;
  }
}
