@import "../styles/theme";

div.myShare {
  h4 {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: $medium;
    color: $text-darker;
  }
  
  .table {
    width: 408px;
    min-height: 140px;
    border: 1px solid $outline;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & > .info {
      width: 100%;
      margin-bottom: 32px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      align-content: space-between;

      & > div {
        max-width: 100px;
      }

      span {
        font-weight: $medium;
        color: $text;
        font-size: 16px;
        display: block;
        word-wrap: break-word;
      }

      .name {
        color: $text-primary;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }

      span.label {
        font-weight: $normal;
        margin-bottom: 10px;
      }
    }
  }

  button.withdraw {
    width: 170px;
    height: 40px;
    border-radius: 4px;
    background: $primary;
    color: $white;
    font-weight: $bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    border: none;

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
