@import "../styles/theme.scss";

div.no-share {
  width: 888px;
  margin: 0 auto;
  text-align: center;
  p {
    margin-top: 40px;
    font-weight: bold;
    font-size: 18px;
  }

  img {
    width: 60%;
  }

  a {
    color: $primary;
  }
}
