@import "../styles/theme";
@import "../styles/viewports";

div.reviewWithdraw {
  margin-top: 0;
  padding: 40px;
  background-color: $white;
  color: $text-black;
  border-radius: 8px;

  h3 {
    font-family: $font-family-title;
    font-size: 30px;
    font-weight: $bold;
    color: $text-black;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .table {
    display: flex;
    flex-direction: column;
    @include breakpoint(sm) {
      font-size: 14px;
    }

    .eachToken {
      margin-bottom: 16px;

      div {
        display: inline-block;
      }

      img {
        margin-right: 8px;
        vertical-align: text-bottom;
      }

      & > .value {
        width: 45%;
        @include breakpoint(md) {
          width: 73%;
        }
      }
      & > .token {
        width: 55%;
        @include breakpoint(md) {
          width: 27%;
        }
      }
    }

    .withdrawInfoItem {
      margin-bottom: 16px;

      display: flex;
      flex-direction: row;

      & > .label {
        width: 45%;
        @include breakpoint(md) {
          width: 73%;
        }
      }

      & > .value {
        width: 55%;
        @include breakpoint(md) {
          width: 27%;
        }
      }
    }

    div.rates {
      display: grid;
      grid-template-rows: auto;
      row-gap: 8px;

      span {
        display: block;
      }
    }
  }

  div.bottom {
    background: $black;
    margin: 0 -40px -40px -40px;
    padding: 16px 40px 24px 40px;
    border-radius: 0px 0px 8px 8px;

    color: $text-white;

    p {
      font-size: 14px;
      font-style: italic;
      margin-bottom: 32px;
    }

    .buttonWrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .divider {
    background-color: $divider-red;
    margin: 12px 0 16px 0;
    height: 1px;
    width: 100%;
  }
}
