@import "../styles/theme";

div.reviewSwap {
  margin-top: 0;
  padding: 40px;
  background-color: $white;
  color: $text-black;
  border-radius: 8px;

  h3 {
    font-family: $font-family-title;
    font-size: 30px;
    font-weight: $bold;
    color: $text-black;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .swapTable {
    margin-bottom: 36px;

    .floatRight {
      float: right;
    }

    img.arrowDown {
      margin-top: 8px;
      margin-bottom: 8px;
      margin-left: auto;
      float: right;
    }

    .to {
      clear: right;
    }

    img.tokenIcon {
      vertical-align: text-bottom;
    }

    span.tokenName {
      margin-left: 8px;
      font-weight: $bold;
    }

    .divider {
      background-color: $divider-red;
      margin: 16px 0 20px 0;
    }

    .priceTable {
      width: 100%;
      color: $text-black;
    }

    .row {
      margin-top: 8px;
    }
  }

  .bottom {
    background: $black;
    margin: 0 -40px -40px -40px;
    padding: 24px 40px 40px 40px;
    border-radius: 0px 0px 8px 8px;

    p {
      margin: 0 0 32px 0;
      color: $text-white;
      line-height: 20px;
    }

    .buttonWrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}
