@import "../styles/theme";

div.reviewSwap {
  margin-top: 0;
  padding: 40px;
  background-color: $white;
  color: $text-black;
  border-radius: 8px;

  h3 {
    font-family: $font-family-title;
    font-size: 30px;
    font-weight: $bold;
    color: $text-black;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .swapTable {
    margin: 0;

    .floatRight {
      float: right;
    }

    img.arrowDown {
      margin-top: 8px;
      margin-bottom: 8px;
      margin-left: auto;
      float: right;
    }

    .to {
      clear: right;
    }

    img.tokenIcon {
      vertical-align: text-bottom;
    }

    span.tokenName {
      margin-left: 8px;
      font-weight: $bold;
    }

    .divider {
      background-color: $divider-red;
      margin: 16px 0 20px 0;
    }

    .priceTable {
      width: 100%;
      color: $text-black;
    }

    .gas,
    .slippage,
    .deadline {
      margin-top: 8px;
    }
  }

  .bottom {
    background: $black;
    margin: 40px -40px -40px -40px;
    padding: 24px 40px 40px 40px;
    border-radius: 0px 0px 8px 8px;

    p {
      margin: 0 0 32px 0;
      color: $text-white;
      line-height: 20px;
    }

    & > button {
      width: 176px;
      height: 44px;
      border-radius: 4px;

      &:hover,
      &:active {
        outline: none;
      }
    }

    button.confirm {
      border: none;
      background: $primary;
      color: $text-black;
      font-weight: $bold;
      font-size: 16px;
      letter-spacing: 0.02em;
      margin-right: 18px;

      &:hover,
      &:focus {
        outline: none;
        background-color: $primary-blue;
        color: $text-white;
        box-shadow: var(--shadow-hover);
      }
    }

    button.cancel {
      background: $white;
      border: none;
      color: $text-black;
      font-weight: $bold;
      font-size: 16px;
      letter-spacing: 0.02em;

      &:hover,
      &:focus {
        color: $primary-blue;
      }
    }
  }
}
