@import "../styles/theme";

div.reviewWithdraw {
  margin-top: 0;
  padding: 40px;
  background-color: $white;
  color: $text-black;
  border-radius: 8px;

  h3 {
    font-family: $font-family-title;
    font-size: 30px;
    font-weight: $bold;
    color: $text-black;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .table {
    display: flex;
    flex-direction: column;

    .eachToken {
      margin-bottom: 16px;

      div {
        display: inline-block;
      }

      img {
        margin-right: 8px;
        vertical-align: text-bottom;
      }

      & > .value {
        width: 50%;
      }
      & > .token {
        width: 50%;
      }
    }

    .withdrawInItem {
      margin-bottom: 16px;

      display: flex;
      flex-direction: row;
      gap: 16px;

      & > .label {
        width: 48%;
      }

      & > .value {
        width: 52%;
      }
    }

    div.rates {
      display: flex;
      flex-direction: column;
      gap: 8px;

      span {
        display: block;
      }
    }
  }

  div.bottom {
    background: $background;
    margin: 0 -40px -40px -40px;
    padding: 16px 40px 24px 40px;
    border-radius: 0px 0px 8px 8px;

    color: $text;

    p {
      font-size: 14px;
      font-style: italic;
      margin-bottom: 32px;
    }

    & > button {
      width: 176px;
      height: 44px;
      border-radius: 4px;

      &:hover,
      &:active {
        outline: none;
      }
    }

    button.confirm {
      border: none;
      background: $primary;
      color: $white;
      font-weight: $bold;
      font-size: 16px;
      letter-spacing: 0.02em;
      margin-right: 18px;

      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }

    button.cancel {
      background: $background-white;
      border: 1px solid #fae09e;
      color: $text-primary;
      font-weight: $normal;
      font-size: 16px;
      letter-spacing: 0.02em;

      &:hover,
      &:focus {
        border: 2px solid $outline;
      }
    }
  }

  .divider {
    background-color: $divider-red;
    margin: 12px 0 16px 0;
    height: 1px;
    width: 100%;
  }
}
