@import "../styles/theme";
@import "../styles/viewports";

.swapForm {
  width: 380px;
  background: var(--background-element);
  border: 1px solid var(--outline);
  border-radius: 10px;
  padding-top: 24px;
  @include breakpoint(xs) {
    width: 350px;
  }
  .head {
    padding: 0 32px;

    h4.title {
      font-family: $font-family-title;
      font-weight: $bold;
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 16px;
      color: var(--text-title);
    }

    .inputField {
      position: relative;
      display: flex;

      .buttonWrapper {
        display: inline-block;
        margin-left: 8px;
      }
      input {
        flex: auto;
        height: 32px;
        color: $text-black;
        background: $white;
        outline: none;
        border: 0.1px solid var(--outline);
        padding: 0 8px;
        margin-bottom: 24px;
      }

      input:focus {
        outline: none;
      }
    }
  }

  ul.tokenList {
    padding: 0 32px;
    margin-bottom: 0;
  }

  .tokenListItem {
    height: 56px;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    .divider {
      height: 1px;
      width: 320px;
      background-color: $divider-red;
      position: absolute;
      bottom: 0;
      @include breakpoint(xs) {
        width: 293px;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &.active {
      background: linear-gradient(
        to bottom,
        transparent 20%,
        $divider-red 20% 80%,
        transparent 80%
      );
      margin-left: -10px;
      margin-right: -10px;
      padding: 0 10px;
    }

    & > img.tokenIcon {
      margin: auto 0;
      width: 20px;
    }

    & > .tokenName {
      margin-left: 16px;
      font-weight: $bold;
    }

    & > .tokenValue {
      margin-left: auto;
    }

    .tokenName,
    .tokenValue {
      font-size: 16px;
      color: var(--text);
    }
  }
}
