@import "../styles/theme.scss";

div.tokenInput {
  display: flex;
  position: relative;
  align-items: center;

  input {
    position: absolute;
    left: 78px;
    width: 168px;
    height: 32px;
    display: block;
    background: $white;
    border: 0.1px solid var(--outline);
    border-radius: 0;
    margin-left: 16px;

    padding-left: 16px;
    padding-right: 72px;
    color: $text-black;
    font-size: 16px;
    font-family: $font-family;
    font-style: normal;
    font-weight: $normal;

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: $disabled;
      border: none;
    }
  }

  input.hasMaxButton {
    width: 120px;
  }

  span {
    line-height: 40px;
  }

  img {
    margin-right: 8px;
    vertical-align: text-bottom;
  }

  button.max {
    position: absolute;
    right: 0px;
    z-index: 1;
    height: 32px;
    color: $white;
    background: $text-red;
    border: none;
    border-radius: 6px;
    font-weight: $medium;
    letter-spacing: -0.06em;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:disabled {
      display: none;
    }
  }
}
