@import "../styles/theme.scss";

input {
  width: 384px;
  height: 40px;
  display: block;
  background: $white;
  border: none;
  border-radius: 0;
  margin-top: 8px;

  padding-left: 16px;
  color: $text;
  font-size: 16px;
  font-family: $font-family;
  font-style: normal;
  font-weight: $normal;

  &:focus {
    outline: $outline solid 1px;
  }
}

span {
  vertical-align: top;
}

img {
  margin-right: 8px;
}

span.max {
  float: right;
  color: $text-primary;
  text-decoration: underline;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
