@import "../styles/theme";
@import "../styles/viewports";

header {
  .sdlToken {
    height: 20px;
    width: 20px;
    background-color: $white;
    border-radius: 50%;
    margin-left: 8px;
  }

  .walletStatus {
    .connection {
      &.success .indicator {
        filter: invert(1);
      }
    }
  }
  .walletWrapper {
    flex: 1;
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > * {
      margin-left: 8px;
    }
  }
}

.siteSettingsWrapper {
  position: absolute;
  top: 110%;
  right: 0;
  z-index: 2;
  box-shadow: var(--shadow);
  width: 176px;
}

svg.hamburger {
  circle {
    fill: var(--primary-foreground);
  }
}
