@import "../styles/theme";

header.top {
  background-color: $background;
  box-shadow: 0px 2px 14px 2px rgba(0, 0, 0, 0.1);
  height: 88px;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    width: 20%;
    margin: 0;
    margin-right: auto;

    .title {
      color: #ea860b;
      font-weight: bold;
      font-size: 36px;
      line-height: 42px;
      font-family: "Roboto";
    }

    .logo {
      background-color: #ffffe9;
      border-radius: 52px;
      display: inline-block;
      margin-right: 0.4em;
      &:hover {
        cursor: pointer;
      }
    }
  }

  ul.nav {
    font-family: $font-family;
    list-style-type: none;
    padding: 0;
    margin: 0;
    & > li {
      display: inline;
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: $primary;
        opacity: 0.6;
        text-decoration: none;
        font-style: normal;
        font-weight: $normal;
        font-size: 20px;

        &:hover {
          opacity: 1;
        }

        &.active {
          opacity: 1;
          color: $primary;
          font-weight: $bold;
        }
      }
    }
  }
  .walletStatus {
    margin-left: auto;
    width: 20%;

    .connection {
      // padding: 8px;
      // border: 1px solid;
      // border-radius: 10px;
      &.success .indicator {
        filter: invert(1);
      }
    }
    img.logo {
      height: 1.5em;
    }
  }
}
