@import "../styles/theme.scss";

div.withdraw {
  min-height: 100vh;
  background: var(--background-main);
  color: var(--text);
  padding-bottom: 40px;
  box-sizing: border-box; // Make the padding included in height calculation

  .no-share {
    width: 888px;
    margin: 0 auto;
    text-align: center;
    p {
      margin-top: 40px;
      font-weight: bold;
      font-size: 18px;
    }

    img {
      width: 60%;
    }

    a {
      color: $primary;
    }
  }

  .content {
    width: 888px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: flex-start;

    .infoPanels {
      margin-top: 40px;
      width: 434px;
      padding: 24px 32px;
      border: 1px solid var(--outline);
      border-radius: 10px;
      background: var(--background-element);
      box-sizing: border-box;
    }

    .left {
      width: 434px;
    }

    .form {
      width: 434px;
      border: 1px solid var(--outline);
      background: var(--background-element);
      border-radius: 10px;
      padding: 40px;
      margin-top: 40px;
      box-sizing: border-box;
    }

    .form h3 {
      font-family: $font-family-title;
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 48px;
      font-weight: $bold;
      color: var(--text-darker);
      text-align: center;
    }

    .percentage {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;

      span {
        font-weight: $bold;
        letter-spacing: -0.04em;
      }

      input {
        height: 32px;
        width: 112px;
        display: block;
        background: $white;
        border: none;
        border-radius: 0;

        padding-left: 16px;
        color: $text-black;
        font-size: 16px;
        font-family: $font-family;
        font-style: normal;
        font-weight: $normal;

        &:focus {
          outline: var(--outline) solid 1px;
        }
      }

      .error {
        margin-top: 8px;
        color: $error;
        font-size: 14px;
        text-align: right;
        width: 100%;
      }
    }

    .actionBtn {
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px;
      display: block;
      width: 170px;
      height: 48px;
      border: none;
      border-radius: 6px;
      background: $primary;
      font-size: 18px;
      font-weight: $bold;
      box-shadow: var(--shadow);
      letter-spacing: 0.04em;

      &:hover,
      &:focus {
        outline: none;
        background-color: $primary-blue;
        color: $text-white;
        box-shadow: var(--shadow-hover);
      }
    }

    .actionBtn:disabled {
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: $primary;
        color: rgba(0, 0, 0, 0.2);
        transform: none;
        opacity: 1;
        box-shadow: var(--shadow);
      }
    }
  }

  .advancedOptions {
    margin-top: 24px;

    .combination {
      position: relative;
      font-size: 16px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      display: grid;
      grid-template-columns: min-content auto;
      grid-gap: 8px;

      input {
        width: 20px;
        height: 20px;

        opacity: 0;
        &:checked + .checkbox_control svg {
          transform: scale(1);
        }
      }
      .checkbox_control {
        display: inline-grid;
        width: 20px;
        height: 20px;
        border-radius: 0.25em;
        border: 0.1em solid var(--outline);
      }
      .checkbox_control svg {
        margin: 0;
        stroke: var(--text-selected);
        transition: transform 0.1s ease-in 25ms;
        transform: scale(0);
        transform-origin: bottom left;
      }
      .checkbox_input {
        display: grid;
        grid-template-areas: "checkbox";
        margin-right: 8px;

        > * {
          grid-area: checkbox;
          cursor: pointer;
        }
      }
    }

    div.paramater {
      margin-top: 16px;

      span {
        margin-left: 8px;
        cursor: pointer;
        letter-spacing: -0.06em;
      }

      input {
        width: 64px;
        height: 24px;
        margin-left: 16px;
        border: none;
        border-radius: 0;

        &:focus {
          outline: 1px solid var(--outline);
        }
      }

      .selected {
        color: var(--text-selected);
        font-weight: $medium;
        text-decoration: underline;
      }
    }

    .show {
      display: block;
    }
  }

  div.transactionInfoContainer {
    display: none;
  }

  div.transactionInfo {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    span.value {
      color: var(--text-darker);
      font-weight: $bold;
    }

    span.bonus {
      color: $primary;
    }

    span.slippage {
      color: $error;
    }
  }

  div.show {
    display: block;
  }

  .divider {
    width: 100%;
    height: 1px;
    background: $divider-red;
    margin: 16px 0;
  }
}
