button, input, select {
    border-radius: 5px;
    height: fit-content;
    min-height: 2em;
    border-width: thin;
    border-color: #999;
    background-color: #FFF;
}

.token-selector {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    border: 1px solid #AAA;
    border-radius: 10px;
    padding: 5px;

    input, select {
        border: none;
        font-size: 16pt;
    }

    & > .group > label {
        display: block;
        min-height: 2em;
        margin-top: 0.5em;
		opacity: 80%;
    }
}

button:hover {
    transform: translate(0, -1px);
    transition: transform 0.1s;
}

header.top {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-left: 1.5em;
    padding-right: 1.5em;

    .logo {
        transition: transform 0.4s;
        display: inline-block;
        margin-right: .4em;

        &:hover {
            transform: rotate(-10deg) translate(0, 8px);
        }
    }

    .walletInfo {

    }
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.swapArea {
    border-radius: 10px;
    max-width: 420px;
    width: 100%;
    margin-top: 100px;

    border: 1px solid #999;
    padding: 1em;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        & > a {
            font-size: calc(16px + 2vmin);
            opacity: 50%;

            &.active {
                opacity: 100%;
            }
        }
    }

    & > hr {
        margin-bottom: 1em;
    }

    & > form {
        display: flex;
        flex-direction: column;
        align-content: stretch;

        & > * {
            margin-top: 1em;
        }

        & > button:last-child {
            min-height: 2.5em;
        }
    }
}
