html,
body {
  padding-left: calc(100vw - 100%);
}
body {
  margin: 0;
  font-family: "Source Code Pro", monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
